body{
    font-family: Arial, Helvetica, sans-serif;
}

.obsah{
    width: 50%;
    margin-left: 25%;
}
.obsah p{
    text-align: left;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 17px;
    text-align: center;
}

.dark-mode{
    background-color: #041C32;
    color: white;
}

button{
    width: 100%;
    font-size: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 3){
    .obsah{
        width: 100%;
        margin-left: 0;
    }
}